{{ ansible_managed | comment }}
--config_path="{{ win_osquery_dir | regex_replace('^c:', '') }}\\osquery.conf"
--pidfile="{{ win_osquery_dir | regex_replace('^c:', '') }}\\osqueryd.pid"
{% if win_osquery_extra_flags %}
{% for f in win_osquery_extra_flags %}
{{ f }}
{% endfor %}
{% endif %}
